body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background-color: rgb(222, 230, 246);
  color: rgb(6, 13, 97);
}

main {
  margin: auto;
  width: 60%;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 2em;
  margin-bottom: 0px;
}

input {
  display: flex;
  margin: 10px auto;
  width: 200px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid rgb(240, 242, 245);
  font-size: 1em;
  font-weight: 400;
  padding: 10px;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: rgb(6, 13, 97);
  color: white;
  font-size: 1em;
  margin: 10px;
}

button:hover {
  background-color: rgb(53, 56, 255);
  color: white;
}

.red {
  color: rgb(166, 1, 42);
}
.green {
  color: rgb(30, 99, 13);
}
